.btn {
  font-weight: bold;
  border-radius: 6px;
  width: 100%;
  text-transform: uppercase;

  &--bg-yellow {
    font-size: 16px;
    background: linear-gradient(90deg, #FFD268 0%, #FFDD64 100%);
    height: 63px;

    &:hover {
      cursor: url('../../img/icons/cursor.png'), pointer;
      background: linear-gradient(90deg, #FFCC55 0%, #FFE68B 100%);
      transition: .3s ease-in-out;
    }
  
    &:active {
      cursor: url('../../img/icons/cursor_active.png') 7 17, pointer;
      background: linear-gradient( #FFCC55);
      transition: .3s ease-in-out;
    }
  }

  &--bg-transparent {
    background: #FBFCFC;
    border: 2px solid #4EAAFF;
    height: 50px;
    font-size: 14px;
    position: relative;
    z-index: 3;

    &:hover {
      background: #4EAAFF;
      color: #FBFCFC;
      transition: .1s ease-in-out;
    }

    &:active {
      background: #3998F0;
      transition: .1s ease-in-out;
    }

    &.active {
      opacity: 0;
      visibility: hidden;
    }
  }
}
